#checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    width: 440px;
    padding: 50px;
    padding-bottom: 80px;
    border-radius: 10px;
    position: relative;
    top: -44rem;
    left: 50rem;
}

#checkout_header{
    position: relative;
    top: -22px;
}

#checkout_content form{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    position: relative;
}

#checkout_content input{
    width: 115px;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 4px;
}

#submit{
    position: absolute;
    bottom: -75%;
    left: 40%;
    padding: 10px;
    background-color: rgb(40, 161, 231);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#submit:hover{
    cursor: pointer;
    background-color: rgb(40, 161, 231, 0.6);
}

@media screen and (max-width: 600px) {
    #checkout{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 80%;
        position: relative;
        left: 0 !important;
        top: 20rem;
        text-align: center;
    }

    #checkout_content form{
        display: flex;
        flex-direction: column;
    }
}