footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 1rem;
}

footer p{
    color: rgb(0, 0, 0, 0.6);
}

footer a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
}

footer a:hover{
    color: rgb(0, 0, 0, 0.8);
}

#nav_links{
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

#nav_links a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.35);
    font-weight: bold;
}

#nav_links a:hover{
    color: rgb(0, 0, 0, 0.5);
}

.social-buttons{
    display: flex;
    gap: 15px;
}

.social-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    background-color: rgb(0, 0, 0, 0.150);
    border-radius: 10px;
}

.social-buttons a:hover{
    background-color: rgb(0, 0, 0, 0.3);
}
